{{ define "main" }}
<div class="list">
  {{ $posts := where .Site.RegularPages "Section" "post" }}
  {{ $paginator := .Paginate $posts }}
  {{ range $paginator.Pages }}
  
    <div class="listItem" onclick="location.href='{{ .Permalink }}'">
      
      {{ with .Resources.GetMatch .Params.image }}
        <img
          src="{{ .Permalink }}"
          alt="{{ $.Title }}"
          class="listItemImage"
          loading="lazy"
        />
      {{ else }}
        <img
          src="{{ .Params.image | absURL }}"
          alt="{{ .Title }}"
          class="listItemImage"
          loading="lazy"
        />
      {{ end }}
      <div class="listItemTexts">
        <h1 class="listItemTitle">
          <a href="{{.Permalink}}">{{.Title}}</a>
        </h1>
        <time>{{ dateFormat .Site.Params.dateFormat  .Date}}</time>
        <p class="listItemDesc">{{.Params.description}}</p>
        <div class="listItemDetail">
          {{ range .Params.authors }}
            {{ with $.Site.Data.authors.tien0246 }}
              <img src="{{ .avatar | absURL }}" loading="lazy" alt="{{ .name }}" class="listItemAvatar"/>
              <span>
                <a href="#">{{ .name }}</a>
              </span>
            {{ end }}
          {{ end }}
        </div>
        <div class="listItemCategories">
          {{ $categories := .GetTerms "categories" }}
          {{ $count := len $categories }}

          {{ range first 5 $categories }}
            <a class="listItemCategory" href="{{ .Permalink }}">#{{ .Name }}</a>
          {{ end }}

          {{ if gt $count 5 }}
            <span class="listItemCategory more-categories">…</span>
          {{ end }}
        </div>

      </div>

    </div>
  
  {{ end }} {{ template "_internal/pagination.html" . }}
</div>

{{ end }}