{{ define "main" }}
  {{ with .Resources.GetMatch .Params.image }}
    <img src="{{ .Permalink }}" alt="{{ $.Title }}" class="singleHeadImg">
  {{ else }}
    <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="singleHeadImg">
  {{ end }}
  <div class="singleHead">
    <div class="singleHeadTexts">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
      <p class="singleHeadDesc">{{.Params.description}}</p>
      <div class="singleHeadDetail">
        {{ range .Params.authors }}
          {{ with $.Site.Data.authors.tien0246 }}
            <img src="{{ .avatar | absURL }}" loading="lazy" alt="{{ .name }}" class="singleAvatar">
            <span>
                <a href="#">{{ .name }}</a>
            </span>
          {{ end }}
        {{ end }}
      </div>
      <div class="singleHeadDetail">
        {{ range (.GetTerms "categories")}}
          <a href={{.Permalink}} class="singleCategory">#{{ .Name }}</a>
        {{end}}
      </div>
      
    </div>
    
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{ .Content }}</div>
  </div>

{{ end }}